.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*там два дива пустых так как иначе при крупном масштабе вылезет за границы auth_content*/
}

.wrapper .auth_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.ver_error {
    color: var(--error);
}

.info_span {
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

.info_span.active {
    display: block;
}

.auth_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth_form > label, .auth_form > a {
    margin-top: 0.25rem;
}

.auth_form > label {
    align-self: flex-start;
}

.auth_form a:hover {
    color: var(--text4);
}

span.auth_span {
    font-family: "OpenSans_Regular";
    font-size: 1.15rem;
    margin-bottom: 1rem;
}

span.auth_error {
    color: var(--error);
    line-height: 0;
    opacity: 0;
    font-size: 0.75rem;
    align-self: start;
}

input, form > div {
    margin-top: 0.25rem;
}

.set_div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.radio_div {
    display: flex;
}

.radio_div>input {
    display: none;
}

.radio_div>label {
    padding: 0.25rem;
    align-items: center;
    cursor: pointer;
    color: var(--text);
    transition-duration: 0.3s;
}

.radio_div>input:checked+label {
    background: var(--primary);
    color: var(--text2);
    transition-duration: 0.3s;
}

span.show {
    animation: show_span ease-out 0.3s forwards;
}

@keyframes show_span {
    from {
        line-height: 0;
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    to {
        line-height: 1.5;
        opacity: 100%;
    }
}

span.close {
    animation: close_span ease-out 0.3s forwards;
}

@keyframes close_span {
    from {
        line-height: 1.5;
        opacity: 100%;
    }
    75% {
        opacity: 0;
    }
    to {
        line-height: 0;
        opacity: 0;
    }
}
