.wrapper {
    
}

/*tab0*/

.selection_inputs_wrapper {
    overflow: auto;
    margin: 0.25rem;
    white-space: nowrap;
}

.selection_inputs_wrapper li {
    display: inline-block;
    margin-right: 0.25rem;
}

/*tab1*/

.charts_container {
    margin: 0.25rem;
}

.chart_div  {
    display: flex;
    flex-direction: column;
}

.plotly_div {
    background: #989898;
    height: 20rem;
    width: 20rem;
    align-self: center;
}