:root {
    --primary: #212121;
    --primary2: #191919;
    --secondary: #141414;
    --secondary2: #212121;
    --secondary3: #313131;
    --secondary4: #484848;
    --accent: #50be54;
    --accent2: #a0cfa3;
    --accent3: #a0cfa325;
    --error: #db4139;
    --error2: #db413925;
    --text: #efedef;
    --text2: #ffffff;
    --text3: #d3d3d3;
    --text4: #a0a0a0;
}

.context_menu li {
    color: var(--text2);
}