div.table_wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

div.table {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.wrapper {
    display: none;
}

.wrapper:first-of-type {
    display: flex;
}

div.table_header,
div.table_body {}

div.table_header {
    margin: 0.25rem 0.25rem 0 0.25rem;
    /*margin: 25px 25px 0 25px;*/
    overflow: hidden;
}

table.table_header {
    /*margin: 0.25rem 0.25rem 0 0.25rem;*/
    position: relative;
}

div.table_body {
    margin: 0 0.25rem 0.25rem 0.25rem;
    /*margin: 0 25px 25px 25px;*/
    overflow: auto;
    flex: 1;
}

.wrapper div.table_wrapper:nth-of-type(2) div.table_header {
    margin-top: 0;
}

table.table_body {}

.map {
    background: #444;
}