:root {
    --primary: #43a047;
    --primary2: #37853a;
    --secondary: #f2f2f2;
    --secondary2: #ffffff;
    --secondary3: #e4e6e8;
    --secondary4: #d4d4d4;
    --accent: #43a047;
    --accent2: #a0cfa3;
    --accent3: #a0cfa350;
    --error: #db4139;
    --error2: #db413950;
    --text: #0a0a0a;
    --text2: #ffffff;
    --text3: #e2f0d8;
    --text4: #838b96;
}

.context_menu li {
    color: var(--text1);
}