@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@600&display=swap');
html::selection {
    /*-ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;*/
}

body {
    background: #222022;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #efedef;
    display: flex;
    flex-direction: column;
}

a {
    cursor: pointer;
}

.preloader {
    background: #222022;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
}

.bd_e_preloader {
    font-size: 1rem;
    color: red;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    opacity: 0;
}

header,
footer {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 9999;
    height: 4vh;
    font-size: 1.5vh;
    width: 100%;
    background: #4c4947;
}

header span {
    line-height: 4vh;
    float: right;
    margin-right: 1vw;
}

header a {
    line-height: 4vh;
    transition-duration: 0.3s;
    margin-left: 1vw;
    text-decoration: none;
    color: #efedef;
}

header a:hover {
    transition-duration: 0.3s;
    color: #ceccce;
}

/*body*/

.all_content {
    height: 92vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    /*scroll-behavior: smooth;*/
}

.search_div {
    height: auto;
    margin: 1vh;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    background: #078dc2;
}

.table_div {
    flex: auto;
    margin: 0vh 1vh 1vh 1vh;
    background: #029609;
}

.table_header {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    z-index: 99;
    position: fixed;
}

.table_content {
    /*padding-top: 50px;*/
    background: #029609;
}

.horiz_stub_up,
.horiz_stub_bottom,
.vert_stub_left,
.vert_stub_right {
    background: #960296;
    position: fixed;
    z-index: 999;
}

.horiz_stub_up,
.horiz_stub_bottom {
    width: 100%;
    height: 5px;
}

.horiz_stub_up {
    /*margin-top: 35px;*/
}

.horiz_stub_bottom {
    bottom: 35px;
}

.vert_stub_left,
.vert_stub_right {
    width: 5px;
    height: 100%;
}

.vert_stub_right {
    right: 0px;
}

table {
    font-size: 12px;
    border-collapse: collapse;
    table-layout: fixed;
    empty-cells: show;
}

table:focus {
    border: 1px solid #4c4947;
}

th {
    background: #222022;
}

th,
td {
    border: 1px solid #4c4947;
    padding: 2px 5px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-clip: padding-box;
}

td {
    white-space: nowrap;
    background: transparent;
    outline: none;
}

td::selection {
    background: transparent;
}

td::-moz-selection {
    background: transparent;
}

td.selected,
th.selected {
    background: rgba(110, 173, 58, 0.1);
}

td.error {
    background: rgba(255, 0, 0, 0.1);
}

.td_selection {
    z-index: 999;
    position: absolute;
    display: none;
    border: 1px solid #6ead3a;
    box-sizing: border-box;
    pointer-events: none;
}

.td_selection.transition {
    transition-duration: 0.2s;
}

.td_selection.active {
    display: block;
    /*transition-duration: 0.1s;*/
}

.td_selection.success {
    border: 1px solid #beff89;
}

.td_selection.error {
    border: 1px solid #ff0000;
}

iframe {
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/*footer*/

footer span {
    float: right;
    line-height: 4vh;
    margin-right: 1vh;
    /*opacity: 0;*/
}

.span_footer.error {
    color: red;
}

.span_footer.active {
    opacity: 100%;
    transition-duration: 0.3s;
}

.tabs {
    width: 100%;
    margin: 0 auto;
}

.tabs>input {
    display: none;
}

.tabs>label {
    display: inline-block;
    line-height: 4vh;
    padding-left: 1vh;
    padding-right: 1vh;
    text-align: center;
    vertical-align: middle;
    color: #ceccce;
    background: transparent;
    cursor: pointer;
    transition-duration: 0.3s;
}

.tabs>input:checked+label {
    color: #f4f8f9;
    background: #3a3a3a;
    transition-duration: 0.3s;
}

input {
    background: #222022;
    border: 1px solid #8b8c8e;
    border-radius: 0px;
    color: #f4f8f9;
    font-size: 0.8rem;
    padding: 5px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    opacity: 100%;
    transition: 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background: #f4f8f9;
    color: #222022;
    cursor: pointer;
    transition: 0.3s;
}