@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@600&display=swap');
html {
    /*-ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;*/
}

body {
    background: #222022;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #efedef;
    font-size: 14px;
}

header,
footer {
    z-index: 9999;
    height: 35px;
    background: #4c4947;
    position: fixed;
    width: 100%;
}

footer {
    bottom: 0;
}

header span {
    line-height: 35px;
    float: right;
    clear: both;
    margin-right: 5px;
}

header a {
    transition-duration: 0.3s;
    line-height: 35px;
    margin-left: 5px;
    text-decoration: none;
    color: #efedef;
}

header a:hover {
    transition-duration: 0.3s;
    color: #ceccce;
}

.horiz_stub_up,
.horiz_stub_bottom,
.vert_stub_left,
.vert_stub_right {
    background: #222022;
    position: fixed;
    z-index: 999;
}

.horiz_stub_up,
.horiz_stub_bottom {
    width: 100%;
    height: 5px;
}

.horiz_stub_up {
    margin-top: 35px;
}

.horiz_stub_bottom {
    bottom: 35px;
}

.vert_stub_left,
.vert_stub_right {
    margin-top: 35px;
    width: 5px;
    height: 100%;
}

.vert_stub_right {
    right: 0px;
}


/*.wrapper {
    margin: 40px 5px;
    position: absolute;
}*/

.content {
    position: absolute;
    top: 63px;
    bottom: 41px;
    left: 5px;
    right: 5px;
    overflow: auto;
    /*scroll-behavior: smooth;*/
}

table {
    font-size: 12px;
    border-collapse: collapse;
    table-layout: fixed;
}

.table_header {
    top: 41px;
    right: 5px;
    left: 5px;
    z-index: 99;
    position: fixed;
}

.table_header,
.table_header_inv,
.table_body {
    width: 2000px;
}

th {
    background: #222022;
}

th,
td {
    border: 1px solid #4c4947;
    padding: 2px 5px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-clip: padding-box;
}

td {
    background: transparent;
    outline: none;
}


/*td:focus:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 1px solid #6ead3a;
}*/

.td_selection {
    z-index: 999;
    position: absolute;
    display: none;
    border: 1px solid #6ead3a;
    box-sizing: border-box;
    pointer-events: none;
    transition-duration: 0.1s;
}

.td_selection.active {
    display: block;
    transition-duration: 0.1s;
}


/*footer*/

footer span {
    float: right;
    line-height: 35px;
    margin-right: 5px;
}

.tabs {
    height: 35px;
    width: 100%;
    margin: 0 auto;
}

.tabs>input {
    display: none;
}

.tabs>label {
    display: inline-block;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    color: #ceccce;
    background: transparent;
    cursor: pointer;
    transition-duration: 0.3s;
}

.tabs>input:checked+label {
    color: #f4f8f9;
    background: #3a3a3a;
    transition-duration: 0.3s;
}