@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@600&display=swap');
html::selection {
    /*-ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;*/
}

body {
    background: #222022;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #efedef;
    font-size: 14px;
}

a {
    cursor: pointer;
}

.preloader {
    background: #222022;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
}

.bd_e_preloader {
    font-size: 14px;
    color: red;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    opacity: 0;
}

@keyframes show {
    from {
        height: 0;
        opacity: 0;
    }
    to {
        height: 15px;
        opacity: 100%;
    }
}

@keyframes close {
    from {
        height: 15px;
        opacity: 100%;
    }
    to {
        height: 0;
        opacity: 0;
    }
}

span.show {
    animation: show ease-out 0.3s forwards;
}

span.close {
    animation: close ease-out 0.3s forwards;
}

header,
footer {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index: 9999;
    height: 35px;
    background: #4c4947;
    position: fixed;
    width: 100%;
}

footer {
    bottom: 0;
}

header span {
    line-height: 35px;
    float: right;
    margin-right: 5px;
}

header ul {
    padding: 0;
	margin: 0;
    list-style: none;
    position: relative;
}

header ul li {
    display: inline-block;
}

header a {
    transition-duration: 0.3s;
    line-height: 35px;
    padding-left: 5px;
    text-decoration: none;
    color: #efedef;
}

header a:hover {
    transition-duration: 0.3s;
    color: #ceccce;
}

header ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

header ul ul a  {
    width: 100%;
    padding-right: 5px;
}

header ul li:hover > ul {
    display: block;
}

/* первый уровень выпадающего списка */
header ul ul li {
    float: none;
    display: list-item;
    position: relative;
    background: #4c4947;
}

.horiz_stub_up,
.horiz_stub_bottom,
.vert_stub_left,
.vert_stub_right {
    background: #222022;
    position: fixed;
    z-index: 999;
}

.horiz_stub_up,
.horiz_stub_bottom {
    width: 100%;
    height: 5px;
}

.horiz_stub_up {
    margin-top: 35px;
}

.horiz_stub_bottom {
    bottom: 35px;
}

.vert_stub_left,
.vert_stub_right {
    margin-top: 35px;
    width: 5px;
    height: 100%;
}

.vert_stub_right {
    right: 0px;
}

.content {
    position: absolute;
    top: 63px;
    bottom: 41px;
    left: 5px;
    right: 5px;
    overflow: auto;
    display: none;
    /*scroll-behavior: smooth;*/
}

table {
    font-size: 12px;
    border-collapse: collapse;
    table-layout: fixed;
    empty-cells: show;
}

.table_header {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    top: 41px;
    right: 5px;
    left: 5px;
    z-index: 99;
    position: fixed;
    visibility: hidden;
}

.table_header,
.table_body {
    width: 2000px;
}

table:focus {
    border: 1px solid #4c4947;
}

th {
    background: #222022;
}

th,
td {
    border: 1px solid #4c4947;
    padding: 2px 5px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background-clip: padding-box;
}

td {
    white-space: nowrap;
    background: transparent;
    outline: none;
}

td::selection {
    background: transparent;
}

td::-moz-selection {
    background: transparent;
}

td.selected,
th.selected {
    background: rgba(110, 173, 58, 0.1);
}

td.error {
    background: rgba(255, 0, 0, 0.1);
}

.td_selection {
    z-index: 999;
    position: absolute;
    display: none;
    border: 1px solid #6ead3a;
    box-sizing: border-box;
    pointer-events: none;
}

.td_selection.transition {
    transition-duration: 0.2s;
}

.td_selection.active {
    display: block;
    /*transition-duration: 0.1s;*/
}

.td_selection.success {
    border: 1px solid #beff89;
}

.td_selection.error {
    border: 1px solid #ff0000;
}

.right_context_menu,
.left_context_menu {
    list-style: none;
    background: #4c4947;
    width: 150px;
    max-height: 200px;
    overflow: auto;
    font-size: 12px;
    padding: 0;
    margin: 0;
    z-index: 99999;
    position: fixed;
    display: none;
}

.right_context_menu.active,
.left_context_menu.active {
    display: block;
}

.right_context_menu li,
.left_context_menu li {
    width: 100%;
    padding: 0px 5px 0px 5px;
    line-height: 35px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    color: #ceccce;
}

.right_context_menu li:hover,
.left_context_menu li:hover {
    color: #f4f8f9;
    background: #3a3a3a;
    transition-duration: 0.3s;
}

iframe {
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.fast {
    z-index: 9999;
    position: absolute;
    display: none;
    background: #6ead3a;
    opacity: 25%;
    box-sizing: border-box;
    pointer-events: none;
    /*transition-duration: 0.1s;*/
}

.fast.active {
    display: block;
    /*transition-duration: 0.1s;*/
}

.slow {
    z-index: 9999;
    position: absolute;
    display: none;
    background: #ff0000;
    opacity: 25%;
    box-sizing: border-box;
    pointer-events: none;
    /*transition-duration: 0.1s;*/
}

.slow.active {
    display: block;
    /*transition-duration: 0.1s;*/
}

a.open_map {
    float: right;
    position: absolute;
    color: #ceccce;
    opacity: 0;
    transition-duration: 0.3s;
}

a.open_map:hover {
    color: #f4f8f9;
    transition-duration: 0.3s;
}


/*footer*/

footer span {
    float: right;
    line-height: 35px;
    margin-right: 5px;
    opacity: 0;
}

.span_footer.error {
    color: red;
}

.span_footer.active {
    opacity: 100%;
    transition-duration: 0.3s;
}

.tabs {
    height: 35px;
    width: 100%;
    margin: 0 auto;
}

.tabs>input {
    display: none;
}

.tabs>label {
    display: inline-block;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    color: #ceccce;
    background: transparent;
    cursor: pointer;
    transition-duration: 0.3s;
}

.tabs>input:checked+label {
    color: #f4f8f9;
    background: #3a3a3a;
    transition-duration: 0.3s;
}

input[type="email"],
input[type="text"],
input[type="submit"],
input[type="password"],
button {
    background: #222022;
    border: 1px solid #8b8c8e;
    border-radius: 0px;
    color: #f4f8f9;
    font-size: 12px;
    padding: 5px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    opacity: 100%;
    transition: 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background: #f4f8f9;
    color: #222022;
    cursor: pointer;
    transition: 0.3s;
}