.registration,
.login,
.verification {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

.registration_content,
.login_content,
.verification_content {
    width: 300px;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
}

.loader {
    background: #222022;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
}

.registration_form, .login_form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.registration_form span,
.login_form span {
    font-size: 11px;
    float: left;
    width: 100%;
    text-align: left;
    height: 0;
    opacity: 0;
}

.ver_span, .access_span, .forgot_span {
    font-size: 11px;
    margin-bottom: 10px;
    display: none;
}

.ver_span.active, .access_span.active, .forgot_span.active {
    display: block;
}

.ver_e {
    color: red;
}

.bd_e, .send_email_e {
    color: red;
}

.bd_e {
    margin-top: 10px;
}

.login_content a {
    font-size: 11px;
    text-decoration: none;
    color: #8b8c8e;
    transition-duration: 0.3s;
}

.login_content a:hover {
    color: #f4f8f9;
    transition-duration: 0.3s;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    width: 100%;
}

input[type="email"],
input[type="text"],
input[type="submit"],
input[type="password"],
button {
    margin-top: 10px;
}

input.error {
    border: 1px solid #ff0000;
    transition: 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background: #f4f8f9;
    color: #222022;
    cursor: pointer;
    transition: 0.3s;
}

/*checkbox*/

.remember_me_div {
    margin-top: 10px;
    width: 100%;
}

.remember_me_div label {
    font-size: 11px;
    float: left;
}

input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type="checkbox"]+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    line-height: 1em;
}

input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #8b8c8e;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: 0.3s;
}

input[type="checkbox"]:checked+label::before {
    border-color: #6ead3a;
    background-color: #6ead3a;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    transition: 0.3s;
}


input[type="checkbox"]:not(:disabled):not(:checked)+label:hover::before {
    border-color: #6ead3a;
    transition: 0.3s;
}
